<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Welcome to {{obj}}</h1>
<form action="arithmetic/" method="get">
    <input type="text" name="num1" placeholder="number 1">
    <input type="text" name="num2" placeholder="number 2">
    <input type="submit">
</form>
</body>
</html>

<!--<input type="text" name="new1">-->
<!--    <input type="text" name="new2">-->

<!--<input type="text" name="new1" placeholder="number 3">-->
<!--    <input type="text" name="new2" placeholder="number 4">-->